
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> 
        
      </ion-menu-button>
     
    </ion-buttons>
    <ion-title>Graficos Encuestas</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModal('notaLugar')" > Puntuación Lugar </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalBar('recomendacion')" > Recomendación </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalPie('notaEmpleados')" > Puntuación Empleados </ion-button>
</ion-content>