<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button menu="clientesMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Bienvenido</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div id="container">
          <strong>
            Bienvenido a nuestra aplicación. Por favor indicar cantidad de personas y escanear el código QR en la entrada para poder ingresar a la lista de espera.            
          </strong>
          <br>
          <strong>
            En cuanto sea posible te notificaremos cuando hay una mesa disponible.
          </strong>
          <form [formGroup]="forma" (ngSubmit)="Scan()">
            <ion-item >
              <ion-label position="floating">Cantidad de comenzales</ion-label>              
              <ion-select placeholder="Cantidad: " formControlName="cantidadPersonas">
                <ion-select-option value=1>01</ion-select-option>
                <ion-select-option value=2>02</ion-select-option>
                <ion-select-option value=3>03</ion-select-option>
                <ion-select-option value=4>04</ion-select-option>
                <ion-select-option value=5>05</ion-select-option>
                <ion-select-option value=6>06</ion-select-option>
                <ion-select-option value=7>07</ion-select-option>
                <ion-select-option value=8>08</ion-select-option>
                <ion-select-option value=9>09</ion-select-option>
                <ion-select-option value=10>10</ion-select-option>
              </ion-select>
            </ion-item>
          <ion-button class="botonScan" size="large" shape="round" expand="full" type="submit" [disabled]="forma.invalid"><ion-icon name="scan-circle-outline"></ion-icon> Escanear <ion-icon name="scan-circle-outline"></ion-icon></ion-button>
        </form>
      </div>      
    </ion-content>
  </div>
</ion-app>