
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> 
        
      </ion-menu-button>
     
    </ion-buttons>
    <ion-title>Encuestas</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="navegar('encuenta-supervisor/lista-empleados')" > Listado empleados</ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="navegar('encuenta-supervisor/lista-clientes')" > Listado clientes </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="navegar('encuenta-supervisor/graficos')" > Graficos encuestas</ion-button>

</ion-content>