<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Registro Administradores</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-content class="ion-padding">

      <form [formGroup]="forma" (ngSubmit)="registrarse()">
    
        <ion-item>
          <ion-label position="floating">Perfil del alta</ion-label>
          <ion-select placeholder="Elegir" interface="popover" formControlName="perfil">
            <ion-select-option value="duenio">Dueño</ion-select-option>
            <ion-select-option value="supervisor">Supervisor</ion-select-option>
          </ion-select>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Nombre:</ion-label>
          <ion-input type="text" formControlName="nombre" placeholder="Nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido:</ion-label>
          <ion-input type="text" formControlName="apellido" placeholder="Apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo Electrónico:</ion-label>
          <ion-input type="email" formControlName="email" placeholder="ejemplo@utn.com"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña:</ion-label>
          <ion-input type="password" formControlName="password" placeholder="Mínimo 6 caracteres"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Repetir contraseña:</ion-label>
          <ion-input type="password" formControlName="repetirPassword" placeholder="Mínimo 6 caracteres"></ion-input>
        </ion-item>
          <ion-item>
          <ion-label position="floating">CUIL:</ion-label>
          <ion-input type="number" formControlName="CUIL" placeholder="CUIL sin guiones"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">DNI:</ion-label>
          <ion-input type="number" formControlName="DNI" placeholder="DNI"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Foto:</ion-label>
          <ion-input type="file" (change)="changeImg($event)" formControlName="foto"> </ion-input>
        </ion-item>
        
    
        <ion-button color="primary" size="large" expand="full" type="submit" [disabled]="forma.invalid">
          Crear Usuario
        </ion-button>
    
      </form>
    
    </ion-content>
  </div>



  </ion-app>

