
<ion-header>
    <ion-toolbar>
      <ion-title>Comidas</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="signOut()">
          <ion-icon name="log-out" slot="icon-only"></ion-icon>
        </ion-button>
    </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding" color="fondo">
  <ion-list>
      <ion-spinner name="circular" *ngIf="!productos"></ion-spinner>

      <div *ngIf="productos">
          <ion-item *ngFor="let producto of getComidas()" color="input">
              <ion-thumbnail slot="start" (click)="detalleFoto(producto)">
                  <ion-img [src]="producto.photourl1"></ion-img>
              </ion-thumbnail>
              <ion-label>
                  <h2>{{ producto.nombre }}</h2>
                  <h3>{{ producto.descripcion }}</h3>
              </ion-label>

              <div class="item-end" slot="end">
                  <ion-note>${{ producto.precio }}</ion-note>
                 
                  <ion-button (click)="addProducto(producto)" color="success" expand="block" fill="clear" shape="round">
                    <ion-icon name="add-outline"></ion-icon>
                </ion-button>
                <ion-note>{{ getProductoCount(producto.id) }}</ion-note>
                  <ion-button (click)="removeProducto(producto.id)" color="danger" expand="block" fill="clear" shape="round">
                      <ion-icon name="remove-outline"></ion-icon>
                  </ion-button>


              </div>
          </ion-item>
      </div>
  </ion-list>

  <ion-list>
      <ion-list-header>
          <ion-label>BEBIDAS</ion-label>
      </ion-list-header>
      <ion-spinner name="circular" *ngIf="!productos"></ion-spinner>

      <div *ngIf="productos">
          <ion-item *ngFor="let producto of getBebidas()" color="input">
              <ion-thumbnail slot="start" (click)="detalleFoto(producto)">
                  <ion-img [src]="producto.photourl1"></ion-img>
              </ion-thumbnail>
              <ion-label>
                  <h2>{{ producto.nombre }}</h2>
                  <h3>{{ producto.descripcion }}</h3>
              </ion-label>

              <div class="item-end">
                  <ion-note>${{ producto.precio }}</ion-note>
                  
                  <ion-button (click)="addProducto(producto)" color="success" expand="block" fill="clear" shape="round">
                    <ion-icon name="add-outline"></ion-icon>
                </ion-button>
                <ion-note>{{ getProductoCount(producto.id) }}</ion-note>
                  <ion-button (click)="removeProducto(producto.id)" color="danger" expand="block" fill="clear" shape="round">
                      <ion-icon name="remove-outline"></ion-icon>
                  </ion-button>

                  <ion-note>${{ producto.precio }}</ion-note>
              </div>
          </ion-item>
      </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="input">
      <ion-label slot="start">{{ getProductoTotalCount() }} ítems</ion-label>
      <div class="item-end" slot="end">
          <ion-label>
              <h2>${{ getPrecioTotal() }}</h2>
              <h3>~{{ getTiempoEstimado() }} min.</h3>
          </ion-label>
          <ion-button (click)="realizarPedido()" expand="block" fill="clear" shape="round" color="tertiary">
              Pedir
          </ion-button>
      </div>
  </ion-toolbar>
</ion-footer>