<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button menu="clientesMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Ingreso</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-content>
      <div id="container">
        <div *ngIf="!mostrar">
          <strong>
            Ya estas en la lista de espera de Resto Zona Sur.
          </strong>
          <br>
          <strong>
            En breve nuestro metre te notificará cuando podes ingresar y te llevará a tu mesa.
          </strong>
          <br>
          <strong>
            En ella encontrarás un QR, por favor escanearlo para hacer tu pedido.
          </strong>

          <ion-button class="botonScan" size="large" shape="round" expand="full" (click)="Scan()"><ion-icon name="scan-circle-outline"></ion-icon> Escanear <ion-icon name="scan-circle-outline"></ion-icon></ion-button>
          
        </div>
          

        <div *ngIf="mostrar">
          <div *ngIf="!pedi"> 
          <br><br>
          <strong>
            Ya estas listo para poder disfrutar de nuestros platos unicos:
          </strong>
          <br><br>
            
          <ion-button class="botonPedir" size="large" shape="round" expand="full" (click)="Navegar('cliente-pedido')" > Hacer pedido </ion-button>
        </div>
        <div *ngIf="pedi"> 

          <div >
            <strong>
              Pedido:
            </strong>
            <br><br>
            <ion-item (click)="presentModal(pedi)" expand="full"  color="input">
              <ion-item >
                <ion-label class="ion-text-left">Mesa {{ pedi.numeroMesa }}</ion-label>
              </ion-item>
              <ion-item >
                <ion-label class="ion-text-right">Estado: {{ pedi.estado }}</ion-label>
              </ion-item>
              <ion-item class="qr">
              </ion-item>

            </ion-item>
           
            <ion-button slot="end" *ngIf="pedi.estado === 'confirmarEntrega' " class="botonPedido"  shape="round" expand="full" (click)="confirmarEntrega()" > Confirmar entrega </ion-button>
            <ion-button slot="end" *ngIf="pedi.estado === 'aPagar' " class="botonPedido"  shape="round" expand="full" (click)="pagar()" > Pagar </ion-button>
            <ion-button slot="end" *ngIf="pedi.estado === 'entregado' " class="botonPedido"  shape="round" expand="full" (click)="pedirCuenta()" > Pedir Cuenta </ion-button>
            <ion-button  class="botonPedido"  shape="round" expand="full" (click)="this.Navegar('chat')" > Consultar al mozo </ion-button>
          </div>
          
          <ion-fab *ngIf="pedi.estado === 'aCobrar' || pedi.estado === 'aPagar' " (click)="getQrPropinaData()">
          
            <ion-fab-button size="large" color="success" vertical="center" horizontal="start">
              <ion-icon name="qr-code-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          

          {{cosa}}
        </div>
      </div>

          
      </div>      
    </ion-content>

    
  </div>
</ion-app>