<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-fab horizontal="end"  vertical="center" >
        <ion-fab-button size="small" color="primary" >
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-fab-button>
    
        <ion-fab-list side="start">
          <ion-fab-button color="secondary" (click)="Navegar('login')" >
            Ini.
          </ion-fab-button>
          <ion-fab-button color="tertiary" (click)="Navegar('registro-empleados')" >
            Reg.
          </ion-fab-button>
          <ion-fab-button color="danger" (click)="Navegar('registro-duenios-supervisores')" >
            Reg. due y sup
          </ion-fab-button>
          
        </ion-fab-list>
      </ion-fab>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
   <strong>Bienvenidos a la aplicacion comanda del Resto Zona Sur.</strong>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-fab horizontal="star" vertical="center">
        <ion-fab-button  href="https://github.com/nicolasnet" class="btnRedes" >
          <ion-icon name="logo-github"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab horizontal="center" vertical="center">
        <ion-fab-button href="https://twitter.com/pochogomez_27" class="btnRedes">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab horizontal="end" vertical="center">
        <ion-fab-button  href="https://www.linkedin.com/in/nicolas-rodrigo-gomez-66048b209/" class="btnRedes">
          <ion-icon name="logo-linkedin"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-title>
  </ion-toolbar>
</ion-footer>