<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button menu="adminMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Lista de reservas</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">

      <ion-list>

        <ion-item color="dark" *ngFor="let reserva of listaReservas">
          <ion-label>
            <h2>Cliente: {{reserva.nombreCliente}}</h2>
            <h2>Fecha: {{reserva.fechaFormateada}}</h2>
            <h3>Mesa Nº{{reserva.mesa}}</h3>
            <ion-button color="success" *ngIf="reserva.pendiente" (click)="aceptar(reserva)">Aceptar</ion-button>
            <ion-button color="danger" *ngIf="reserva.pendiente" (click)="rechazar(reserva)">Rechazar</ion-button>
            <ion-label *ngIf="!reserva.pendiente && reserva.estado">
              <h3 style="color:green;">Reserva aceptada.</h3>
            </ion-label>
            <ion-label *ngIf="!reserva.pendiente && !reserva.estado">
              <h3 style="color:red;">Reserva rechazada.</h3>
            </ion-label>
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-content>
  </div>
</ion-app>