ion-content{
  --background: #23C1E0;

}
ion-title{
  color: #29dce9;
  background: -webkit-linear-gradient(rgb(87, 179, 240),rgb(218, 91, 235));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span{
  font-size: larger;
  font-weight: 300;
  color: #ffffff;
}
h5,h2{
color: #ffffff;
}
ion-item, ion-list{
  --color:  #29dce9;;
  --border-color:rgb(218, 91, 235);
  background-color: #23C1E0;
  --background: #23C1E0;
}


hr {border: 0; 
  height: 2px; 
  text-align: center;
  --background: linear-gradient(left, #fff, rgb(255, 47, 238), #fff);
  background: linear-gradient(left, #fff, rgb(255, 47, 238), #fff);
  background-color: linear-gradient(left, #fff, rgb(255, 47, 238), #fff);
}