<ion-header>
  <ion-toolbar>
    <ion-title>Mesas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br>
  <form [formGroup]="forma" (ngSubmit)="crearMesa()">

    <ion-list-header>
      <ion-label>Alta de mesas</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Tipo de mesa</ion-label>
      <ion-select placeholder="Elegir" interface="popover" formControlName="tipo">
        <ion-select-option value="discapacitados">Discapacitados</ion-select-option>
        <ion-select-option value="vip">V.I.P.</ion-select-option>
        <ion-select-option value="estandar">Estandar</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Numero:</ion-label>
      <ion-input type="number" formControlName="numero" placeholder="Numero de mesa"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Cantidad de comensales:</ion-label>
      <ion-input type="number" formControlName="cantidadComensales" placeholder="Cantidad de comensales"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Foto:</ion-label>
      <ion-input type="file" (change)="changeImg($event)" formControlName="foto"> </ion-input>
    </ion-item>
    <hr class="my-4">

    <ion-button color="primary" size="large" expand="full" type="submit" [disabled]="forma.invalid">Crear Mesa
    </ion-button>

  </form>
</ion-content>
