ion-content{
    --background: #23C1E0;    
}

ion-title{
    color: #29dce9;
    background: -webkit-linear-gradient(rgb(87, 179, 240),rgb(218, 91, 235));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ion-item{
    margin: 1%;
    margin-top: 8%;
    margin-bottom: 8%;    
}

ion-label{
    color: black;
    margin: 5%;
}

ion-list{
    .letra{
        font-size: 0.8em;
    }

    ion-item{
        margin-bottom: 0%;
    }
    background-color: transparent;
    --color: black;
    --border: none;
}


.item{
    --color: black;
    --background: rgba(0, 0, 0, 0.144);;
    --border-color:transparent;
}
