<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Detalle de cuenta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="fondo">
  <div class="centerFlex">
    <div class="container">
      <div id="body">
        <ion-list>
          <ion-item *ngFor="let plato of platos">
            <ion-label class="ion-text-left">{{plato.producto.nombre}}</ion-label>
            <ion-label class="ion-text-right">${{ plato.producto.precio }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-left">Propina</ion-label>
            <ion-label class="ion-text-right"
              >${{ propina }}</ion-label
            >
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-left">Total</ion-label>
            <ion-label class="ion-text-right"
              >${{ pedido.precioTotal + propina }}</ion-label
            >
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-left">Estado del pedido </ion-label>
            <ion-label class="ion-text-right"
              >${{ pedido.estado }}</ion-label
            >
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="fondo">

    <ion-button *ngIf="pagar"
      (click)="pagar()"
      color="secondary"
      type="submit"
      expand="block"
      fill="outline"
      shape="round"
    >
      Confirmar
    </ion-button>
    <ion-button *ngIf="aentregar"
    (click)="entregarPedido()"
    color="secondary"
    type="submit"
    expand="block"
    fill="outline"
    shape="round"
  >
    Entregar pedido
  </ion-button>

    <ion-button *ngIf="aconfirmar"
    (click)="confirmarPedido(pedido)"
    color="secondary"
    type="submit"
    expand="block"
    fill="outline"
    shape="round"
  >
    Confirmar
  </ion-button>
  <ion-button *ngIf="aconfirmar"
  (click)="rechazarPedido(pedido)"
  color="secondary"
  type="submit"
  expand="block"
  fill="outline"
  shape="round">
  Rechazar
</ion-button>

<ion-button *ngIf="acobrar"
(click)="cobrarPedido(pedido)"
color="secondary"
type="submit"
expand="block"
fill="outline"
shape="round">
Cobrar pedido
</ion-button>
  </ion-toolbar>
</ion-footer>
