<ion-header>
  <ion-toolbar>
    <ion-title>Verificación de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong>Muchas gracias por registrarte en Resto Zona Sur, en breve nuestros analistas autorizaran tu registro.</strong>
    <img src="../../../assets/icon/favicon.png" alt="">    
    <br>
    <strong>Te llegará un mail en caso de que tu registro sea aprobado o no.</strong>
    <br>
    <br>
    <strong style="color: rgba(0, 0, 0, 0.5);">Mientras tanto te invitamos a visitarnos en nuestras redes sociales ubicadas abajo.</strong>
  </div>
  

</ion-content>
