<ion-header>
  <ion-toolbar>
    <ion-title>mozoPedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button size="large" shape="round" expand="full" color="secondary"  (click)="navegar('mozo-pedidos/pedidos-en-preparacion')" > pedidos-en-preparacion</ion-button>
  <ion-button size="large" shape="round" expand="full" color="secondary"  (click)="navegar('mozo-pedidos/pedidos-aconfirmar')" > pedidos-aconfirmar </ion-button>
  <ion-button size="large" shape="round" expand="full" color="secondary"  (click)="navegar('mozo-pedidos/pedidos-aentregar')" > pedidos-aentregar </ion-button>
  <ion-button size="large" shape="round" expand="full" color="secondary"  (click)="navegar('mozo-pedidos/pedidos-acobrar')" > pedidos-acobrar </ion-button>

</ion-content>
