<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Solicitar reserva</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-content class="ion-padding">

      <ion-card>
        <form [formGroup]="miFormulario">
            <ion-item class="labels" fill="outline">
                <ion-label position='floating'>Seleccionar fecha de reserva</ion-label>
                <ion-datetime displayFormat="YYYY/MM/DD H:mm" [value]='fechaValorActual' [min]="fechaValorMinimo" [max]="fechaValorMaximo" (ionChange)='Ifecha($event)'></ion-datetime>
            </ion-item>
            <ng-container *ngFor="let validation of validation_messages.nombre">
                <div class="error-message" *ngIf="miFormulario.get('fecha').hasError(validation.type) && (miFormulario.get('fecha').dirty || miFormulario.get('fecha').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
            <ion-item class="labels" fill="outline">
                <ion-label position='floating'>Cantidad de personas:</ion-label>
                <ion-input type='number' min=1 max=99 formControlName='comensales' placeholder='cargue la cantidad'></ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validation_messages.comensales">
                <div class="error-message" *ngIf="miFormulario.get('comensales').hasError(validation.type) && (miFormulario.get('comensales').dirty || miFormulario.get('comensales').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
            <ion-item class="labels" fill="outline">
                <ion-label position='floating'>Tipo de Mesa:</ion-label>
                <ion-select formControlName='tipoMesa' placeholder='seleccione un tipo' (ionChange)='ITipo($event)'>
                    <ion-select-option value='estandar'>Estandar</ion-select-option>
                    <ion-select-option value='vip'>VIP</ion-select-option>
                    <ion-select-option value='discapacitados'>Discapacitados</ion-select-option>
                </ion-select>
            </ion-item>
            <ng-container *ngFor="let validation of validation_messages.tipoMesa">
                <div class="error-message" *ngIf="miFormulario.get('tipoMesa').hasError(validation.type) && (miFormulario.get('tipoMesa').dirty || miFormulario.get('tipoMesa').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
            <ion-button [disabled]='!miFormulario.valid' color='cubiertos' expand='block' (click)='cargarReserva()'>Cargar Reserva</ion-button>
        </form>
    </ion-card>
    
    </ion-content>
  </div>



  </ion-app>

