ion-content{
    --background: #23C1E0;
    
}
ion-card{
    background: rgba(0, 0, 0, 0.418);
}

ion-list{
    background: transparent;
    
}

ion-item{
    background: transparent;
}

img{
    height: 150px;
}

