<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Listado de productos</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content >
      
      <ion-list>
        <ion-card color="dark" *ngFor="let producto of listadoProductos">

          <ion-grid>
            <ion-row>
              <ion-col>
                <img *ngIf="producto.photourl1" src="{{producto.photourl1}}">
              </ion-col>
              <ion-col>
                <img *ngIf="producto.photourl2" src="{{producto.photourl2}}">
              </ion-col>
              <ion-col>
                <img *ngIf="producto.photourl3" src="{{producto.photourl3}}">
              </ion-col>
            </ion-row>
          </ion-grid>
          
          <ion-label>
            <h1>{{producto.nombre}}.</h1>
            <h2>${{producto.precio}}.-</h2>
            <h4>Tiempo de preparación: {{producto.tiempoPromedioMinutos}} m.</h4>
            <p>{{producto.descripcion}}.</p>
          </ion-label>
          
        </ion-card>
      </ion-list>

    </ion-content>
  </div>
</ion-app>