<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-img [src]="photoUrl" *ngIf="photoUrl !== ''"></ion-img>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <ion-item>
        <ion-label position="floating">Correo Electronico</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text"  formControlName="nombre"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text"  formControlName="apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="text" formControlName="password"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">DNI</ion-label>
        <ion-input type="number" formControlName="dni"></ion-input>
      </ion-item>
  
      <ion-button expand="full" color="tertiary" (click)="getPhoto()">
        <ion-icon name="camera-outline"></ion-icon>Sacar Fotografia
      </ion-button>
  
      <ion-button expand="full" type="submit" > Registrar Cliente </ion-button>
    </form>
  </div>
  <app-barcode-dni (userBarcode)="getBarcodeData($event)"></app-barcode-dni>
  


</ion-content>
