<ion-header>
  <ion-toolbar>
    <ion-title>Registro Cliente</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-img [src]="photoUrl" *ngIf="photoUrl !== ''"></ion-img>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <ion-item>
        <ion-label position="floating">Correo Electronico</ion-label>
        <ion-input type="email" formControlName="email" placeholder="ejemplo@utn.com"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password" placeholder="Mínimo 6 caracteres"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Repetir Contraseña</ion-label>
        <ion-input type="password" formControlName="passwordR" placeholder="Mínimo 6 caracteres"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text"  formControlName="nombre" placeholder="Nombre"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text"  formControlName="apellido" placeholder="Apellido"></ion-input>
      </ion-item>  
      <ion-item>
        <ion-label position="floating">DNI</ion-label>
        <ion-input type="number" formControlName="dni" placeholder="DNI"></ion-input>
      </ion-item>
  
      <ion-button expand="full" color="tertiary" (click)="getPhoto()">
        <ion-icon name="camera-outline"></ion-icon>Sacar Fotografia
      </ion-button>
  
      <ion-button expand="full" type="submit" [disabled]="registerForm.invalid" > Registrar Cliente </ion-button>
    </form>
  </div>
  <br>
  
  <app-barcode-dni (userBarcode)="getBarcodeData($event)"></app-barcode-dni>
  <ion-button expand="full" class="anonimo" (click)="navegar('registro-anonimo')"> Registro Anónimo </ion-button>
</ion-content>
