<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Registro empleados</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
        
      <form [formGroup]="forma" (ngSubmit)="NuevoRegistro()">       
        
        <ion-input type="email" formControlName="email" placeholder="Correo"></ion-input>
        <ion-input type="password" formControlName="password" placeholder="Contraseña"></ion-input>
        <ion-input type="password" formControlName="password2" placeholder="Repetir Contraseña"></ion-input>
        <ion-input type="text" formControlName="nombre" placeholder="Nombre"></ion-input>
        <ion-input type="text" formControlName="apellido" placeholder="Apellido"></ion-input>
        <ion-input type="number" formControlName="DNI" placeholder="DNI"></ion-input>
        <ion-input type="number" formControlName="CUIL" placeholder="CUIL"></ion-input>
      
      
        <ion-input type="file" (change)="changeImg($event)" formControlName="foto"> </ion-input>
        
        
        <ion-item >
          <ion-label >Tipo de empleado</ion-label>
          <ion-select placeholder="Elegir" interface="popover"  formControlName="subtipo">
            <ion-select-option value="mozo">Mozo</ion-select-option>
            <ion-select-option value="cocinero">Cocinero</ion-select-option>
            <ion-select-option value="metre">Metre</ion-select-option>
            <ion-select-option value="bartender">Bartender</ion-select-option>
          </ion-select>
        </ion-item>
      
        <ion-button color="primary" size="large" expand="full" type="submit" [disabled]="forma.invalid">Crear Usuario</ion-button>
    
      </form>        
    </ion-content>

  
  </div>
</ion-app>