ion-content{
    --background: #23C1E0;    
}

ion-list{
    background: transparent;
    padding: 0%;
    margin: 0%;
}

ion-item{
    background: transparent;    
}

ion-input{
    width: 80px;
}

.item{
    --background: transparent;
    color: black;
    --border: none;

}