
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> 
        
      </ion-menu-button>
     
    </ion-buttons>
    <ion-title>Graficos Encuestas</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModal('respuesta1',EncuentaGraficoBarrasComponent)" > Grafico Compromiso Empleados </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalLine('respuesta3',EncuentaGraficoDoughnutComponent)" > Grafico Comunicación Empleados </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalBar('respuesta4',EncuentaGraficoPieComponent)" > Grafico Resolucion Empleados </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalPie('respuesta2',EncuentaGraficoLineComponent)" > Grafico Trabajo Empleados </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModal('respuesta1',EncuentaGraficoLineComponent)" > Grafico limpieza Clientes </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalLine('respuesta4',EncuentaGraficoBarrasComponent)" > Grafico Trato al personal</ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalBar('respuesta2',EncuentaGraficoPieComponent)" > Grafico Comportamiento Clientes </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalPie('respuesta3',EncuentaGraficoDoughnutComponent)" > Grafico Clientes Problematico </ion-button>

</ion-content>