
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> 
        
      </ion-menu-button>
     
    </ion-buttons>
    <ion-title>Graficos Encuestas</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Empleados</h2>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModal('respuesta1','empleado')" > Compromiso del Empleado</ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalLine('respuesta3','empleado')" >Comunicación Empleados </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalBar('respuesta4','empleado')" > Resolucion de Problemas </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalPie('respuesta2','empleado')" > Trabajo en Equipo </ion-button>

  <h2>Clientes</h2>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModal('respuesta2','cliente')" > Comportamiento </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalLine('respuesta4','cliente')" > Trato al personal</ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalBar('respuesta1','cliente')" > Limpieza de Clientes  </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalPie('respuesta3','cliente')" >Clientes Problematicos </ion-button>

</ion-content>