
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> 
        
      </ion-menu-button>
     
    </ion-buttons>
    <ion-title>Graficos Encuestas</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModal('respuesta1')" > Compromiso Empleados </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalLine('respuesta3')" >Comunicación Empleados </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalBar('respuesta4')" > Resolucion Empleados </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalPie('respuesta2')" > Trabajo Empleados </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModal('respuesta1')" > limpieza Clientes </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalLine('respuesta4')" > Trato al personal</ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalBar('respuesta2')" > Comportamiento Clientes </ion-button>
  <ion-button size="large" shape="round" expand="full" color="success"  (click)="presentModalPie('respuesta3')" >Clientes Problematico </ion-button>

</ion-content>